*{
    margin: 0;
    padding: 0;
}
body{
    width: 90%;
    margin: 4vw auto;
    margin: 2vw auto !important;
    background-color: gainsboro;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vw;
}
footer{
    width: 100%;
}
table{
    font-size: 2rem;
}

figcaption{
    font-size: 2rem;
}

.tituSect1{
    text-align: center;
    margin-top: 2vw;
}


.intro p{
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 2rem;
}

.section2 h2:focus{
    outline: 3px solid black;
    outline-offset: 3px;
}

.section2 h2 a{
    text-decoration: none;
    color: black;
}

.navbar-nav .nav-link:focus {
    outline: 3px solid black; /* Cambia el color del borde*/
    outline-offset: 3px; /* Ajusta la distancia entre el borde y el elemento */
}

.section2{
    text-align: center;
}

.section2 p{
    text-align: justify;
    font-size: 2rem;
}
.section3 p{
    font-size: 2rem;
}

.section3 dl{
    font-size: 2rem;
}

dt a{
    text-decoration: none;
}
dt a:focus{
    outline: 3px solid black; /* Cambia el color del borde*/
    outline-offset: 3px; /* Ajusta la distancia entre el borde y el elemento */
}
h2{
    text-decoration: none;
}

@media (max-width:950px) {
    main p{
        font-size: 2rem !important;
    }

    img{
        width: 50vw !important ;
    }

    section p{
        font-size: 2.5rem !important;
    }

    h2{
        font-size: 3rem !important;
        text-decoration: underline !important;
    }
    h1{
        font-size: 3rem !important;
        text-decoration:underline !important;
    }

    .InformacionPerso p{
        font-size: 2.5rem;
        text-align: justify;
    }
}

.btn :focus{
    outline: 3px solid black !important; /* Cambia el color del borde*/
    outline-offset: 3px !important; /* Ajusta la distancia entre el borde y el elemento */
}

.parraKawa{
    text-align: justify;
}

.InformacionPerso p{
    font-size: 2rem;
    text-align: justify;
}